# Node modules
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output CSS files
src/output.css

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# VSCode settings folder
.vscode/

# Build output
dist/
build/

# Misc
*.swp
*.swo
